.profile-h1 {
    line-height: 1.2;
    font-size:4rem; 
    font-weight: bold;
    color:rgb(60, 120, 216);
}

.profile-paragraph {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
  }

@media screen and (max-width: 960px) {
    .profile-h1{
        font-size: 2.5rem;
    }
    .profile-paragraph {
        font-size: 1.1rem;
    }
}

