h1.title {
    line-height: 1.2;
    font-size:4rem; 
    font-weight: bold;
    color:rgb(60, 120, 216);
}

h2.title {
    font-size: 3rem;
    font-weight: bold;
    color:rgb(60, 120, 216);
}

h3.title, h4.title {
    font-size: 2rem;
    font-weight: bold;
}

h5.title {
    font-size: 1.5rem;
    font-weight: bold;
}


.profile-paragraph {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}

@media screen and (max-width: 960px) {
    h1.title, h2.title {
        font-size: 2.5rem;
    }
    h3.title {
        font-size: 1.3rem;
    }
    h4.title {
        font-size: 1.3rem;
    }
    h5.title {
        font-size: 1.1rem;
    }
    .profile-paragraph {
        font-size: 1.1rem;
    }
}
  